@import "../../style/grid.css";
@import "../../style/color.css";

.tabs {
    width: 100vw ;
    height: 10vh ;
    background-color: var(--gray-low);
    position: fixed;
    bottom: 0;
}

.icon {
    font-size: 30px;
    margin-bottom: 7px;
    margin-top: 5px;
}

.tabs-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
