.row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.row-center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.row-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.row-end {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 100%;
}

.row-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row-wrap-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.row-wrap-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.row-wrap-end {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
}