* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Esconde o scroll do navegador */
*::-webkit-scrollbar {
    display: none;
}

/* Esconde o scroll do navegador IE */
* {
    -ms-overflow-style: none;
}

.main {
    height: 100vh;
    width: 100vw;
}

@import "./style/grid.css";